.contact-section {
    background-image: url(../assets/teamwork.png);
}

.contact-form input,
.contact-form textarea {
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 10px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #000;
    outline: none;
    box-shadow: none;
}